
/* By default, hide all of the scenes */
.scenes > section {
    display: none;
}

/* Only show the section that has a "show" class */
.scenes > section.show {
    display: block;
}

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
h1{
    text-align: center;
}
h1, h2, h3{
    margin-top: 5px;
    font-family: 'Passion One', cursive;;
}


body * {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    display: flex;
    flex-direction: row;
    align-items: left
    ;
    justify-content: end;
}

section{
    display: grid;
    border: 1px;
    background-color: white;
    border-color: black;
    text-align: left;
    justify-content: left;
    border-width: 1px;
    border-style: solid;
    column-gap: 10px;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 800px)  {
    .cards{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
nav{
    display: none;
}
}
