.landing{
    background: white;
padding: 50px 15vw 100px 15vw;
display: grid;
grid-template-columns: 60% 40%;
align-items: center;
justify-content: center;
text-align: center;
background-color: #013672;
color: white;
border: solid 2px white;
padding: 10px 20px;
font-weight: 300;
margin: auto;
display: block;
width: 100px;
border-radius: 4px;
text-decoration: none;
}
head{
    fpadding: 25px 13vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    color: white;
text-decoration: none;
margin: 10px;
text-transform: uppercase;
}
nav{
padding: 100px 25vw 50px 25vw;
min-height: 55vh;
}
h1{
    font-family: Malamondo;
font-weight: 400;
text-transform: uppercase;
text-align: center;
}
h2{
    font-family: Malamondo;
font-weight: 400;
text-transform: uppercase;
text-align: center;
}
footer{
    text-align: center;
     padding: 50px;
}





ul {
    margin-bottom: 50px;
}

h2 {
    text-align: left;
}

.location-hours {
    margin-top: 50px;
}

.location-hours p {
    margin: 0;
}

form {
    margin: 0 auto;
    width: 600px;
    padding: 20px;
    border-radius: 4px;
}


form label {
    display: inline-block;
    width: 75px;
    padding: 10px 0px 5px 0;
    margin-top: 10px;
}

form input, form textarea {
    width: 550px;
    padding: 10px;
    border-radius: 4px;
    background: #FFF;
    border: solid 1px #CCC;
    padding-bottom: 20px;
    font-size: 1.2em;
    margin-bottom: 10px;
}

form button {
    border: solid 2px #fff;
    padding: 10px 20px;
    text-transform: none;
    background: #013672;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 300;
    font-size: 1.1em;
}

